[submodule "libs/dear_imgui"]
	path = libs/dear_imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "libs/glfw-3.3-stable"]
	path = libs/glfw-3.3-stable
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "libs/glm-0.9.7"]
	path = libs/glm-0.9.7
	url = https://github.com/g-truc/glm.git
	branch = 0.9.7
