[submodule "libs/dear_imgui"]
	path = libs/dear_imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "libs/glfw-3.3-stable"]
	path = libs/glfw-3.3-stable
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "libs/glm-0.9.7"]
	path = libs/glm-0.9.7
	url = https://github.com/g-truc/glm.git
	branch = 0.9.7
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "tools/asciify"]
	path = tools/asciify
	url = https://github.com/RameshAditya/asciify.git
[submodule "libs/dawg"]
	path = libs/dawg
	url = https://github.com/reedacartwright/dawg.git
